html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.top-bar {
  height: 10vh;
  background-color: #a3a3a3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.block-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  height: 100%;

  color: #fff;
  text-shadow: 0 0 10px #000;
  cursor: pointer;
}

.block-type:hover {
  background-color: #6b6b6b !important;
}

#grass {
  background-color: rgb(0, 180, 0);
}
#dirt {
  background-color: rgb(115, 118, 83);
}

#stone {
  background-color: rgb(58, 50, 50);
}

#iron {
  background-color: rgb(161, 157, 148);
}

#diamond {
  background-color: rgb(69, 172, 165);
}
#water {
  background-color: rgb(90, 188, 216);
}

#water {
  background-color: rgb(90, 188, 216);
}

#wood {
  background-color: rgb(91, 45, 0);
}
#leaf {
  background-color: rgba(5, 131, 5, 0.5);
}
#sapling {
  background-color: rgb(191, 199, 49);
}


#restart {
  background-color: rgb(0, 0, 0);
}

.active {
  border: 5px solid rgb(255, 139, 61);
  box-shadow: 0 0 10px rgb(255, 139, 61);
}